@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import "tailwindcss"; 

@theme{
    --font-Anton:"Anton", sans-serif;

}
 
.con{
    animation: moving;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.moving::-webkit-scrollbar{
    display: none;
}

@keyframes moving {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
    
}